<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Atualizar Produto</title>
	<!-- Link para o Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
	<div th:replace="~{fragments/navbar :: navbar}"></div>

	<div class="container mt-3">
		<h2>Atualizar Produto</h2>

		<form th:action="@{/produtos/update/{id}(id=${produto.id})}" method="post" th:object="${produto}">
			<div class="form-group">
				<label for="id">ID:</label>
				<input type="text" class="form-control" id="id" th:field="*{id}" th:readonly="readonly" />
			</div>

			<div class="form-group">
				<label for="nome">Nome do Produto:</label>
				<input type="text" class="form-control" id="nome" name="nome" th:field="*{nome}" />
			</div>

			<div class="form-group">
				<label for="descricao">Descrição:</label>
				<input type="text" class="form-control" id="descricao" name="descricao" th:field="*{descricao}" />
			</div>

			<div class="form-group">
				<label for="price">Preço:</label>
				<input type="text" class="form-control" id="price" name="price" th:field="*{price}" />
			</div>

			<div class="form-group">
				<label for="imgUrl">URL da Imagem:</label>
				<input type="text" class="form-control" id="imgUrl" name="imgUrl" th:field="*{imgUrl}" />
			</div>

			<div class="form-group">
				<label>Categorias:</label><br>
				<div th:each="categoria : ${categorias}">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" id="categoria-${categoria.id}" name="categorias"
							th:value="${categoria.id}" th:checked="${produto.categorias.contains(categoria)}" />
						<label class="form-check-label" th:for="'categoria-' + ${categoria.id}"
							th:text="${categoria.nome}"></label>
					</div>
				</div>
			</div>

			<button type="submit" class="btn btn-primary">Atualizar Produto</button>
		</form>
	</div>

</body>

</html>